@import "variables";

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Typography */
 h1, h2, h3 {
     font-size:16px;
     color: $base_blue;
 }

 /* HR */
 hr {
     margin:30px 0 25px;
 }

 /* Stats Box */
 .stats-box {
     background:$base_blue;
     color:white;
     border: 4px solid white;
     padding:2px 10px;
     margin-top:30px;
     font-size:16px;
 }

 /*Label*/
.label {
     padding-bottom:5px;
     display:block;
     font-size:16px !important;
 }