/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
 /* Default Syles */
 .fb-likes, .fb-shares, .fb-comments {
     display:block;
     font-weight:bold;
     font-size:14px;
 }