/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 /* Body */
 /*.toplevel_page_fps_settings {*/
    
 /*}*/
 
 /* Typography */
 h1, h2, h3 {
     font-size:16px;
 }
 
 /* HR */
 hr {
     margin:30px 0 25px;
 }
 
 /* Stats Box */
 .stats-box {
     background:#3b5998;
     color:white;
     border: 4px solid white;
     padding:2px 10px;
     margin-top:30px;
     font-size:16px;
 }
 
 /*Label*/
.label {
     padding-bottom:5px;
     display:block;
     font-size:16px !important;
 }